target/
build/
out/
dist/
*.jar

.idea/*
!.idea/misc.xml
!.idea/encodings.xml
!.idea/compiler.xml
!.idea/vcs.xml

.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries
.idea/shelf/
.idea/dataSources/
.idea/dataSources.local.xml

*.class
*.log
.DS_Store
Thumbs.db